.wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper button{
  width: 120px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}
.wrapper button:hover{
  color: #fff;
  background-color: blue;
}